<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908613731863-oav8u9a4d3vne4kcp1kobmr6g63hgeud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908613731863-oav8u9a4d3vne4kcp1kobmr6g63hgeud</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>908613731863-b2veqq82h9830328ttmfbo9v0g3srl0r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOUpBDenEbnvS4MSXUHkW38oA4RdkNJ3o</string>
	<key>GCM_SENDER_ID</key>
	<string>908613731863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mamuri.app</string>
	<key>PROJECT_ID</key>
	<string>mamuri-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mamuri-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908613731863:ios:3950e7a4a01ed3194abe52</string>
</dict>
</plist>